---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('August 08 2021')}
  heroImage="/blog-placeholder-about.jpg"
  finished
>
  <p>
    I'm lwrench, a front-end engineer. My skill stack including JavaScript /
    TypeScript, React.js, Tailwind Css, Go. I'm interested in and working on
    back-end technologies.
  </p>
</Layout>
